S3method(plot,CoxCPSS)
export(CoxCPSS)
export(CoxCPSSInteractions)
export(CoxRFX)
export(ErrorControlCPSS)
export(ImputeXMissing)
export(MakeInteger)
export(MakeInteractions)
export(MakeTimeDependent)
export(PartialC)
export(PartialRisk)
export(PartialRiskVar)
export(PlotVarianceComponents)
export(PredictRiskMissing)
export(SimDataNonp)
export(SimSurvNonp)
export(StandardizeMagnitude)
export(TestInteractions)
export(VarianceComponents)
export(plot.CoxCPSS)
export(plot.CoxRFX)
export(predict.CoxCPSS)
export(print.CoxCPSS)
